# Graphical and exploratory analysis

## of the Aid Worker Security Incidents data set
## from the website: https://data.world/makeovermonday/2024w46-aid-worker-security-incidents

In [1]:
# import from libraries

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read dataset

df = pd.read_excel('https://query.data.world/s/p6vgvdqvpghtq267f46nipcugrthnz?dws=00000')

## first analysis

In [3]:
df.head()

,Incident ID,Year,Month,Day,Country Code,Country,Region,District,City,UN,...,Attack context,Location,Latitude,Longitude,Motive,Actor type,Actor name,Details,Verified,Source
0,35,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,Unknown,Unknown,NaN,NaN,Unknown,Unknown,Unknown,1 ICRC international staff wounded and 1 natio...,Yes,Focal Point
1,1,1997,1.0,NaN,KH,Cambodia,Banteay Meanchey,NaN,NaN,0,...,Unknown,Unknown,14.070929,103.099916,Unknown,Unknown,Unknown,1 ICRC national staff killed while working in ...,Archived,Archived
2,2,1997,1.0,NaN,RW,Rwanda,Northern,Musanze,Ruhengeri,0,...,Raid,Office/compound,-1.499840,29.634970,Unknown,Unknown,Unknown,"3 INGO international (Spanish) staff killed, 1...",Archived,Archived
3,3,1997,2.0,NaN,TJ,Tajikistan,NaN,NaN,NaN,4,...,Unknown,Unknown,38.628173,70.815654,NaN,Unknown,Unknown,"3 UN national staff, 1 UN international (Niger...",Archived,Archived
4,4,1997,2.0,NaN,SO,Somalia,Lower Juba,Kismayo,Kismayo,0,...,Unknown,Unknown,-0.358216,42.545087,Political,Non-state armed group: Regional,Al-Itihaad al-Islamiya,1 INGO international staff killed by Al ittiha...,Archived,Archived

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153 entries, 0 to 4152
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Incident ID               4153 non-null   int64
 1   Year                      4153 non-null   int64
 2   Month                     4104 non-null   float64
 3   Day                       3810 non-null   float64
 4   Country Code              4119 non-null   object
 5   Country                   4147 non-null   object
 6   Region                    3788 non-null   object
 7   District                  3435 non-null   object
 8   City                      3190 non-null   object
 9   UN                        4153 non-null   int64
 10  INGO                      4153 non-null   int64
 11  ICRC                      4144 non-null   float64
 12  NRCS and IFRC             4144 non-null   float64
 13  NNGO                      4144 non-null   float64
 14  Other                     4153 non-null   int64
 15  Nationals killed          4153 non-null   int64
 16  Nationals wounded         4153 non-null   int64
 17  Nationals kidnapped       4153 non-null   int64
 18  Total nationals           4153 non-null   int64
 19  Internationals killed     4153 non-null   int64
 20  Internationals wounded    4153 non-null   int64
 21  Internationals kidnapped  4153 non-null   int64
 22  Total internationals      4153 non-null   int64
 23  Total killed              4153 non-null   int64
 24  Total wounded             4153 non-null   int64
 25  Total kidnapped           4153 non-null   int64
 26  Total affected            4153 non-null   int64
 27  Gender Male               4153 non-null   int64
 28  Gender Female             4153 non-null   int64
 29  Gender Unknown            4153 non-null   int64
 30  Means of attack           4153 non-null   object
 31  Attack context            4153 non-null   object
 32  Location                  4153 non-null   object
 33  Latitude                  4139 non-null   float64
 34  Longitude                 4139 non-null   float64
 35  Motive                    4149 non-null   object
 36  Actor type                4153 non-null   object
 37  Actor name                4149 non-null   object
 38  Details                   4153 non-null   object
 39  Verified                  4152 non-null   object
 40  Source                    4153 non-null   object
dtypes: float64(7), int64(20), object(14)
memory usage: 1.3+ MB